/* coral.color-1 {color: #f1948a;} */
/*light blue .color-2 {color: #85c1e9;} */
/*red .color-3 {color: #cb4335;} */
/*navy .color-4 {color: #1b4f72;} */
/*grey .color-5 {color: #d6dbdf;} */
/*white .color-6 {color: #fdfefe;} */
