/* coral.color-1 {color: #f1948a;} */
/*light blue .color-2 {color: #85c1e9;} */
/*red .color-3 {color: #cb4335;} */
/*navy .color-4 {color: #1b4f72;} */
/*grey .color-5 {color: #d6dbdf;} */
/*white .color-6 {color: #fdfefe;} */



    /* Frida's css */
/* top navigation css (Frida) */
.topnav {

}



    /* end of Frida's css */
    /* Molly's css */
    /* title logo css (Molly) */
    h1 {
      color: navy;
      text-align: center;
  }
  
  p {
      font-family: abel;
      font-size: 20px;
  }


    /* end of Molly's css */
